{% extends 'base.html' %}
{% block content %}

<main>
    <article class="container py-5">
            <h1 class="display-5 text-center">Django - App</h1>
            
        <section class="card card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, soluta. Veritatis ex mollitia ipsum illum soluta similique at pariatur officiis culpa, ipsam nostrum sit aut odio ducimus! Veritatis nesciunt eos eligendi soluta quo odit possimus esse officiis in culpa voluptatibus velit similique vel eius optio dolor rerum expedita, veniam perferendis?</p>
        </section>
    </article>
</main>





{% endblock %}